<div class="row" id="divCategory" style="margin-bottom:20px;"></div>

<div class="row">
    <div class="col-md-6" id="divProduct">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h4>Menu</h4>
                </div>
                <div class="panel-body">
                    <div class="btn-group-vertical" role="group" aria-label="..." id="divPrO"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="divCal">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h4>Order</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center; width:40%">Name</th>
                                <th style="text-align:center; width:40%">Price</th>
                                <th style="text-align:center; width:20%">Qty</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1"></tbody>
                    </table>
                    <div class="list-group" id="btnOrder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divCal" style="margin-top:10px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <p>Total : <span id="sptotal"></span> </p>
        </div>
        <div class="panel-body" style="text-align:center;">
            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                <button type="button" class="btn btn-default" id="btnCard">Card</button>
                <button type="button" class="btn btn-default" id="btnCash">Cash</button>
                <button type="button" class="btn btn-default" id="btnReset">Reset</button>
            </div>
        </div>
        
    </div>
    
    
</div>


@section scripts{
    <script type="text/javascript">
    $(function () {
        Page.GetCategory();
        Page.SelectProduct();
        $("#btnCard").click(function () {
            Page.Save("C");
        });
        $("#btnCash").click(function () {
            Page.Save("M");
        });
        
    });

    var Page = {
        GetCategory: function () {
            var data = Utill.Ajax("@Url.Action("GetCategory", "Pr")");
            var html = '<div class="btn-group btn-group-justified" role="group" aria-label="btnCategory">';
            html += '<div class="btn-group" role="group"><button type="button" name="btnCate" class="btn btn-default" onclick="Page.ClickCategory(\'\')">All</button></div>';
            $.each(data, function (index, value) {
                html += '<div class="btn-group" role="group"><button type="button" name="btnCate" class="btn btn-default" onclick="Page.ClickCategory(\'' + value.Id.valueOf() + '\')">' + value.name + '</button></div>';
            });
            html += "</div>";
            $("#divCategory").html(html);
        },
        ClickCategory: function (id) {
            Page.SelectProduct(id);
        },
        SelectProduct: function (id) {
            $("#divPrO > button").remove();
            var data = Utill.Ajax("@Url.Action("GetProduct")", {id : id});
            var html1 = "";
            $.each(data, function (index, value) {
                html1 += '<button type="button" class="btn btn-default btn-lg btn-block" onclick="Page.ClickProduct(\'' + value.Id.valueOf() + '\',\'' + value.sale + '\',\'S\', \'' + value.name + '\')">' + value.name + ' (' + value.sale.toLocaleString() + ')</button>';
            });
            $("#divPrO").append(html1);
        },
        ClickProduct: function (id, price, type, name) {
            var html = "";
            //이미 선택한 상품인지 아닌지
            var lengthProduct = $("#hid_" + id).length;
            if (lengthProduct > 0) {
                $("#hid_" + id).val(Number($("#hid_" + id).val()) + 1);
            }
            else {
                html += "<tr>";
                html += "<td>" + name + "</td>";
                html += "<td>";
                html += ' <input class="form-control" style="display:inline;" type="number" name="nQty" onkeypress="Page.CalculateTotalPrice();" onchange="Page.CalculateTotalPrice();" id="hid_price_' + id + '" value="' + price + '"> </button>';
                html += "</td>"
                html += "<td>";
                html += '<input class="form-control" style="display:inline;" type="number" name="nPrice" onkeypress="Page.CalculateTotalPrice();" onchange="Page.CalculateTotalPrice();" id="hid_' + id + '" value="1">';
                html += "</td>"
                html += "</tr>";
            }

            $("#tbody1").append(html);
            Page.CalculateTotalPrice();
        },
        CalculateTotalPrice: function () {
            var arrQty = $("[name=nQty]").length;
            var arrNprice = $("[name=nPrice]").length;
            var total = 0;
            for (var i = 0; i < arrNprice; i++) {
                var qty = Number($("[name=nQty]").eq(i).val());
                var price = Number($("[name=nPrice]").eq(i).val());
                total += (qty * price);
            }
            $("#sptotal").text(total.toLocaleString());
        },
        Reset: function () {
            $("#tbody1 > tr").remove();
            Page.CalculateTotalPrice();
        },
        Save: function (type) {
            var arrNprice = $("[name=nPrice]").length;
            if (arrNprice > 0) {
                var arrId = new Array();
                var arrPrice = new Array();
                var arrQty = new Array();
                for (var i = 0; i < arrNprice; i++) {
                    var id = $("[name=nPrice]").eq(i).attr("id").replace("hid_", "");
                    //가격, 수량
                    var price = $("#hid_price_" + id).val();
                    var qty = $("#hid_" + id).val();
                    arrId.push(id);
                    arrPrice.push(price);
                    arrQty.push(qty);
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save")",
                    datatype: "json",
                    traditional: true,
                    data: { id: arrId, price: arrPrice, qty: arrQty, pay: type },
                    success: function (data) {
                        if (data) {
                            Page.Reset();
                        }
                        else {
                            alert('Fail..');
                        }
                    },
                    error: function (e) {
                        console.log(e);
                        alert("통신에러가 발생했습니다.(" + url + ")");
                    }
                });
                
            }
        }
    }
</script>
}